body{
    background-image: url("../img/background.png");
    background-color: rgb(15,16,19);
    background-attachment: fixed;
}
.body-box{
    background-color:rgba(255,255,255,0.15);
    border-radius: 6px 6px 0px 0px;
    margin-top: 3px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
}
*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.link{
    text-decoration: none;
    color: #55acee;
}
.link:visited{
    text-decoration: none;
    color: #55acee;
}
#debug{
    position: fixed;
    right: 0%;
    bottom: 0%;
    background-color: rgba(60,60,60,0.2);
    padding: 4px;
    color: #fff;
}