    .content-box {
        background-color:rgba(0,0,0,0);
        border-radius: 0px 0px 0px 0px;
        width:75%;
        padding:4px;
        float: left;
    }
    .content-boxPanel {
        background-color:rgba(0,0,0,0);
        border-radius: 0px 0px 0px 0px;
        width:100%;
        padding:4px;
        float: left;
    }
    .content-title{
        background-color: #00AFED;
        border-radius: 6px 6px 0px 0px;
        padding: 0.5%;
        text-align: center;
        font-size: 220%;
        font-weight: bold;
        font-family: "arial";
        color: #00171F;
    }
    .content-titlePanel{
        background-color: #00AFED;
        border-radius: 6px 6px 0px 0px;
        padding: 0.5%;
        text-align: left;
        font-size: 150%;
        font-weight: bold;
        font-family: "arial";
        color: #00171F;
    }
    .content-slider{
        background-color:rgba(98,93,106,0.8);
        padding: 1%;
    }
    .content-zone{
        background-color:rgba(250,250,255,0.8);
        border-radius: 0px 0px 6px 6px;
        padding: 1%;
    }
    .content-box-panel {
    background-color:rgba(0,0,0,0);
    border-radius: 0px 0px 0px 0px;
    width:100%;
    padding:4px;
    float: left;
    }
    .content-capçalera {
        background-color:purple;
        border-radius: 0px 0px 0px 0px;
        position: relative;
        width: 100%;
        height: 210px;
        padding:4px;
    }
    .content-image-perfil{
        background-color:white;
        width: 20%;
        height: 96%;
        position: absolute;
        left: 4px;
        top: 2%;
    }
    .content-box-estadistiques {
    background-color:red;
    border-radius: 0px 0px 0px 0px;
    padding:1%;
    width: 78%;
    height: 96%;
    position: absolute;
    left: 21%;
    top: 2%;
    }