.footer-box {
    width: 80%;
    float: left;
    background-color: rgb(0,52,89);
    border-radius: 0px 0px 6px 6px;
    padding: 6px;
    text-decoration: none;
    color:white;
    font-size: 90%;
    margin-bottom: 3px;
    margin-left: 10%;
    font-family: monospace;
}
.footer-img{
    width: 30px;
}
.footer-other span{
    font-family: monospace;
}
.footer-other center{
    font-family: monospace;
}
.footer-other center a{
    font-family: monospace;
}


