.header-box {
    max-width:100%;
    margin: 0 auto;
    float: top;
    background-color:rgba(0,173,237,0.8);
}
    .not-active {
        pointer-events: none;
        cursor: default;
     }
     #logo{
        width: 9%;
     }
    .header-logo{
        padding: 4px;
    }
    
    .header-nav{
         
         
    }
        
        * {
            font-family:Arial, Helvetica, sans-serif;
            list-style:none;
            text-decoration: none;
            margin:0;
            padding:0;  
        }
        #active {
            background-color: rgba(10,72,110,1);
        }
        .header-nav {
            overflow: hidden;
            margin:auto;
            font-family:Arial, Helvetica, sans-serif;
            background-color: #333;
        }
        ul, ol {
            list-style:none;
        }
        .nav > li {
            float:left;
        }
        .nav li a {
            font-size: 12px;
            background-color:#000;
            color:#fff;
            text-decoration:none;
            padding:4px 12px;
            display:block;
            background-color: #333;
        }
        .nav li a:hover {
            background-color: #111;
        }
        .nav li ul {
            display:none;
            position:absolute;
            min-width:120px;
        }
        .nav li:hover > ul {
            display:block;
        }
        .nav li ul li {
            position:relative;
        }
        .nav li ul li ul {
            right:-120px;
            top:0px;
        }
        .nav li .flecha{
            font-size: 9px;
            padding-left: 6px;
            display: none;
        }
        .nav li a:not(:last-child) .flecha{
            display: inline;
        }
        
        


