/***********************************************************/
/*Menu Triar partida !!*/
#contenidor-partida{
    z-index: 4;
    position: fixed;
    width:100%;
    height: 100%;
    margin: 0 auto;
    background-color:rgba(0,0,0,0.9);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#panel-partida{
    z-index: 4;
    position: fixed;
    top: 10%;
    left: 10%;
    width:80%;
    height: 80%;
    margin: 0 auto;
    background-color:rgba(0,173,237,0.75);
    border: 3px solid whitesmoke;
    border-radius: 12px 12px 12px 12px;
    margin-bottom: 6px;
    -webkit-box-shadow: 0px 0px 27px 5px rgba(0,173,237,0.8);
    -moz-box-shadow: 0px 0px 27px 5px rgba(0,173,237,0.8);
    box-shadow: 0px 0px 27px 5px rgba(80,80,80,0.8);
}
    
/***********************************************************/
/*Header Menu !!*/
.header-box {
    z-index: 3;
    position: fixed;
    width:100%;
    margin: 0 auto;
    background-color:rgba(0,173,237,0.8);
}
    .not-active {
        pointer-events: none;
        cursor: default;
     }
    .header-logo{
        display: none;
    }
    
    .header-nav {
        overflow: hidden;
        margin:auto;
        font-family:Arial, Helvetica, sans-serif;
        background-color: #333;
    }
        * {
            font-family:Arial, Helvetica, sans-serif;
            list-style:none;
            text-decoration: none;
            margin:0;
            padding:0;  
        }
        #active {
            background-color: rgba(10,72,110,1);
        }
        
        ul, ol {
            list-style:none;
        }
        .nav > li {
            float:left;
        }
        .nav li a {
            font-size: 12px;
            background-color:#000;
            color:#fff;
            text-decoration:none;
            padding:4px 12px;
            display:block;
            background-color: #333;
        }
        .nav li a:hover {
            background-color: #111;
        }
        .nav li ul {
            display:none;
            position:absolute;
            min-width:100px;
        }
        .nav li .panel-ul {
            display:none;
            position:absolute;
            min-width:250px;
        }
        .nav li .panel-ul{
            right: 0px;
        }
        .nav li .panel-ul .panel-zone{
            position:relative;
            
        }
            .panel-zone{
                width: 100%;
                height: 80px;
                background-color: #333; 
                overflow: auto;
                border: 1px solid black;
                overflow: hidden;
                
            }
            .panel-img{
                overflow: hidden;
                height:80px;
                width:80px;
                background: whitesmoke;
                float:left;
                
            }
            .panel-img img{
                margin: 4px;
                width: 71px;
                height: 70px;
            }
            .panel-links{
                width:auto;
                height:100px;
                overflow:hidden;
                
            }
        
        .nav li:hover > ul {
            display:block;
            
        }
        .nav li ul li {
            position:relative;
            
        }
        .nav li ul li ul {
            right:-100px;
            top:0px;
        }
        .nav li .flecha{
            font-size: 9px;
            padding-left: 6px;
            display: none;
        }
        .nav li a:not(:last-child) .flecha{
            display: inline;
        }

/***********************************************************/
/*Panel Menu !!*/
.mpanel-box-open{
    z-index: 2;
    position: fixed;
    left: 0;
    top:21px;
    width:78%;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.mpanel-box-closed{
    z-index: 2;
    position: fixed;
    left: 0;
    width:100%;
    top:21px;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
    .mpanel-nav { 
        overflow: hidden;
        margin:auto;
        font-family:Arial, Helvetica, sans-serif;
        background-color: #666;
    }
        .mnav > li {
            float:left;
        }
        .mnav li a {
            font-size: 12px;
            color:#fff;
            text-decoration:none;
            padding:8px 12px;
            display:block;
            background-color: #666;
            height: 30px;
            line-height: 2.6;
            cursor: hand;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        .mnav li a:hover {
            background-color: rgba(250,60,30,0.8);
        }
        .eye{
            width: 12px;
        }
        .accio{
            width: 30px;
        }
li #sidebar-toggle{
    background-color: #666;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 8px 7px;
    float: left;
}
li #sidebar-toggle:hover{
    background-color: #2290c9;
}
li #sidebar-toggle .bar{
    margin-top: 5px;
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #333;
    border-radius: 1px;   
}
li #sidebar-toggle .bar:last-child{
     margin-bottom: 0;   
}
    
/***********************************************************/
/*MULTIMEDIA*/
.mesa-multimedia-open{
    overflow: auto;
    position: fixed;
    top:21px;
    width: 20%;
    right: 0;
    bottom: 0;
    background: #444;
    padding: 1%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.mesa-multimedia-closed{
    overflow: auto;
    position: fixed;
    top:21px;
    width: 20%;
    right: -22%;
    bottom: 0;
    background: #444;
    padding: 1%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
    .hang{
        padding: 2px;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        margin-bottom: 6px;
        background-color: #b1ff00;
    }
    .chat{
        width: 97%;
        height: 60%;
        text-align: center;
        margin-bottom: 6px;
        border-style: inset;
        border-color: #222;
        border-width: 5px;
    }
    .musica{
        width: 100%;
        padding: 3px;
    }
    audio{
            width: 100%;
    }
    .clip{
        width: 100%;
        margin-bottom: 5%;
        text-align: center;
        vertical-align: middle;
    }

/***********************************************************/
/*Body & Footer*/
body{
    background-image: url(../img/background.png);
}
#footer {
    position: relative;
    overflow: hidden;
    width:100%;
    height: 7%;
    padding-top: 0.5%; 
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    list-style:none;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
#footer:hover{
    background-color: rgba(39,124,198,0.8);
    color: #000;
}


/***********************************************************/
/*Mesa Open - Closed*/
.mesa-content-open{
    float: left;
    z-index: 1;
    position: relative;
    top:67px;
    width:78%;
    padding-top: 6px;
    height: auto;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.mesa-content-closed{
    float: left;
    z-index: 1;
    position: relative;
    top:67px;
    width:100%;
    height: auto;
    padding-top: 6px;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/***********************************************************/
/*Fitxes*/
.fitxa-open{
    overflow: hidden;
    margin-left: 0.5%;
    float: left;
    width: 32%;
    padding: 0.2%;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 6px;
    background-color:rgba(250,250,250,0.3);
    -webkit-box-shadow: 0px 0px 27px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 27px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 27px 5px rgba(0,0,0,0.75);
}
.calculatedices{
    position: fixed;
    top: 35%;
    left: 30%;
    width: 40%;
    height: 25%;
    background-color: #777;
    text-align: center;
    font-size: 140%;
    padding: 5px;
    -webkit-box-shadow: 1px 5px 18px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 18px 5px rgba(0,0,0,0.75);
    box-shadow: 1px 5px 18px 5px rgba(0,0,0,0.75);
}
.submitdices{
    background-color: #777;
    border: none;
    width: 60px;
    height: 25px;
    font-weight: bold;
    font-size: 80%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.submitdices:hover{
    background-color: rgba(250,60,30,0.8);
}
/***********************************************************/
/*Top Llista Monsters-Players-Objectes*/
.fitxa-title{
    text-align: center;
    border-radius: 6px 6px 0px 0px;
    background-color: #00AFED;
    color: black;
    padding: 3px;
    margin-bottom: 2px;
}
.llista{
    width: auto; 
    background-color: rgba(0,0,0,0.3);
}
    .selfit{
        float: left;
        width: 90%;
        height: 30px;
        background-color: #333;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        color: whitesmoke;
        margin-bottom: 10px;
    }
    .selfit-button{
        float: right;
        width: 10%;
        height: 30px;
        background-color: rgba(0,0,0,0.6);
        border: none;
        color: whitesmoke;
        font-weight: 600;
        outline:0px;
        margin-bottom: 10px;
    }
    .selfit-button:hover {
        background-color:#00baff; 
        color:#002000; 
    }
    .selfit-button:active {
        background-color:#00baff; 
        color:#002000; 
    }
/***********************************************************/
/*Contingut Llista Monsters-Players-Objectes*/
.todofitxa{
    width: 100%;
}
    .dalt{
        border-radius: 6px 6px 6px 6px;
        background-color: #333;
        padding-top: 1%;
        padding-bottom: 2%;
        padding-left: 1%;
        padding-right: 1%;
        width: auto;
        overflow: auto;
        margin-bottom: 1%;
    }
        .titlefitxa{
            text-align: center;
            border-radius: 6px 6px 0px 0px;
            background-color: rgba(250,60,30,0.8);
            color: black;
            padding: 3px;
            margin-bottom: 2px;
        }
        .imgfitxa{
            height:100px;
            width:100px;
            background: whitesmoke;
            float:left;
            margin-right: 3px;
        }
        .txtfitxa{
            width:auto;
            height:200px;
            overflow:auto;
            background-color: rgba(0,0,0,0.3);
        }
            .row-top{
                width: auto;
                width:auto;
                overflow:hidden;
                border-bottom: 1px solid black;
                padding: 2px;
            }
            .row-middle{
                width: auto;
                width:auto;
                overflow:hidden;
                border-bottom: 1px solid black;
                padding: 2px;
            }
            .row-bottom{
                width: auto;
                width:auto;
                overflow:hidden;
                padding: 2px;
                color: white;
            }
                .column1{
                    float: left;
                    width: 65px;
                    margin-left: 2px;
                    color: wheat;
                }
                .column2{
                    float: left;
                    color: #fff;
                    color: white;
                }
                .column3{
                    float: left;
                    color: #fff;
                    color: white;
                }
        .modfitxa{
            float:left;
            margin-top: 2px;
            width: 90%;
            background-color: rgba(0,0,0,0.3);
            border: none;
            color: whitesmoke;
            font-weight: 600;
            padding: 3px;
            outline:0px;
        }
        .modfitxa:hover {
            background-color:#00baff; 
            color:#002000; 
        }
        .modfitxa:active {
            background-color:#00baff; 
            color:#002000; 
        }
        .delfitxa{
            margin-top: 2px;
            width: 10%;
            background-color: rgba(0,0,0,0.6);
            border: none;
            color: whitesmoke;
            font-weight: 600;
            padding: 3px;
            outline:0px;
        }
        .delfitxa:hover {
            background-color:#00baff; 
            color:#002000; 
        }
        .delfitxa:active {
            background-color:#00baff; 
            color:#002000; 
        }
            
    .centre{
        background-color: rgba(35,35,35,0.7);
        padding-top: 1%;
        padding-bottom: 2%;
        padding-left: 2%;
        padding-right: 1%;
        width: auto;
        overflow: auto;
        margin-bottom: 1%;
    }
    .baix{
        background-color: rgba(35,35,35,0.7);
        padding-top: 1%;
        padding-bottom: 2%;
        padding-left: 2%;
        padding-right: 1%;
        width: auto;
        overflow: auto;
    }

